[Unit]
Description=Kibana 4

[Service]
Type=simple

User=nginx
Group=nginx

Environment=CONFIG_PATH=/usr/local/kibana-4.1.4-linux-x64/config/kibana.yml
Environment=NODE_ENV=production

ExecStart=/usr/local/kibana-4.1.4-linux-x64/node/bin/node /usr/local/kibana-4.1.4-linux-x64/src/bin/kibana.js

Restart=on-failure

[Install]
WantedBy=multi-user.target
